.span1{
    background-color: yellow;
}
.span2{
    color: red;
}
.class1{
    width: 700px;
    height: 400px;
}
.class2{
    width: 700px;
    height: 400px;
}
table{
    width: 80%;
    text-align: center;
    color: white;
}
.num1{
    background-color: red;
}
.num2{
    background-color: black;
}
.num3{
    background-color: green;
}
.num4{
    background-color: blue;
}